<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewCoupon()">New Coupon</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Filters <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onTypeFilter()">By Type</a></li>
        <li><a style="cursor: pointer;" (click)="onPriceFilter()">Up To price</a></li>
        <li><a style="cursor: pointer;" (click)="onDateFilter()">Up To date</a></li>
        <li><a style="cursor: pointer;" (click)="onClearFilter()">Clear Filter</a></li>
      </ul>
      
    </div>
  </div>

</div>


<div class="row" *ngIf = "(filterSelected === 'type')">
    <div class="col-xs-12 form-group">
        <label for="type">type</label>
              <select class="form-control"
              name="type"
              id="type"
              [(ngModel)]="selectedOption"
              required
              >
                <option value="RESTURANS">RESTURANS</option>
                <option value="ELECTRICITY">ELECTRICITY</option>
                <option value="FOOD">FOOD</option>
                <option value="HEALTH">HEALTH</option>
                <option value="SPORTS">SPORTS</option>
                <option value="CAMPING">CAMPING</option>
                <option value="TRAVELLING">TRAVELLING</option>
              </select> 
      </div>
      <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="button" (click)="onTypeFiterApply()" >Apply</button>
          </div>
        </div>
</div>



<div class="row" *ngIf = "(filterSelected === 'price')">
  <div class="col-xs-5 form-group">
      <label for="type">price</label>
      <input type="number"
      class="form-control"
            name="type"
            id="type"
            [(ngModel)]="selectedOption"
            required> 
    </div>
    <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onPriceFiterApply()" >Apply</button>
        </div>
      </div>
</div>


<div class="row" *ngIf = "(filterSelected === 'date')">
  <div class="col-xs-5 form-group">
      <label for="type">date</label>
      <input type="date"
      class="form-control"
            name="type"
            id="type"
            [(ngModel)]="selectedOption"
            required> 
    </div>
    <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" (click)="onDateFiterApply()" >Apply</button>
        </div>
      </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <app-coupon-item
      *ngFor="let coupon of coupons; let i = index"
      [coupon]="coupon"
      [index]="i"
      (click)="onEditItem(i)"
      ></app-coupon-item>
  </div>
</div>