<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" 
              type="button" 
              (click)="onManage()" 
              *ngIf="editMode">Manage Customer</button>
    </div>
    <div class="row">
      <div class="col-xs-12">
  
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="col-xs-12 form-group">
              <label for="custName">Name</label>
              <input type="text" 
                    id="custName" 
                    class="form-control" 
                    name="custName" 
                    ngModel 
                    required 
                    [readonly]="editMode">
            </div>
            <div class="col-xs-12 form-group">
              <label for="password">Password</label>
              <input type="text" 
                    id="password" 
                    class="form-control" 
                    name="password" 
                    ngModel 
                    required 
                    [readonly]="!manageMode">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" [disabled]="!f.valid || !manageMode">{{ editMode ? 'Update' :
                'Add' }}</button>
              <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete</button>
              <button class="btn btn-primary" type="button" (click)="onClear()" [disabled]="!manageMode">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>